 <style>

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
    justify-content: center;
}

.nav__links li {
  padding: 0px 20px;
  margin-top : 8px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  margin-right: 10px;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}



 </style>
 
 
 <body>
        <header>
            <nav>
                <ul class="nav__links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/movie">Vos Musiques</a></li>
                    <li><a href="/article">Blogs</a></li>
                    <a class="cta" href="/login">Se Connecter</a>
                    <a class="cta" href="/logout">Se Déconnecter</a>
                    {% if app.user %}
                        <div class="mb-3">
                           <li><a> Bonjour {{ app.user.userIdentifier }}</a></li>
                        </div>
                    {% endif %}
                    
                </ul>
            </nav>
            
        </header>
</body>