{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
    
<style>
.blog{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    margin-top : 20%;
}
.text{
    margin-right: 20px;
}

</style>

    <table>
        
    
    <div class="blog">
    <div class="text">
        <div class="titre">
            <h2 class="u-blog-control u-text u-text-1">
                    <p class="u-post-header-link" href="#">Bienvenue sur le site regroupant les informations musicales du moment</p>
            </h2>
        </div>
        
    </div>



    </div>
    </table>
{% endblock %}
